.idea/
system/storage/
system/storage/cache/*
catalog/Mobilpay/cert/live*
catalog/Mobilpay/cert/sandbox*
system/storage/logs/*

### OpenCart ###
.htaccess
/config.php
admin/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/
